

/*
 * @version:
 * @Author:  StevenJokess https://github.com/StevenJokess
 * @Date: 2020-11-29 18:52:02
 * @LastEditors:  StevenJokess https://github.com/StevenJokess
 * @LastEditTime: 2020-11-29 18:52:09
 * @Description:
 * @TODO::
 * @Reference:https://github.com/pytorch/vision/blob/master/.coveragerc
 */

[run]
branch = True

[paths]
source =
    torchvision
    /**/site-packages/torchvision
